* {
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

/* header */
header {
    padding: 20px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

img {
    vertical-align: middle;
}

/* main content */
main {
    background-color: #f6f8f9;
    padding: 30px;
}

.container {
    width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 40px;
}

button {
    border-radius: 5px;;
    padding: 5px 10px;
    border-style: solid;
    margin-top: 15px;
}

.button-1 {
    color: #fff;
    background-color: #47adf1;
    border-color: #47adf1;
    margin-left: 40px;
}

.button-2 {
    color: #d1d6da;
    background-color: #fff;
    border-color: #d1d6da;
}

hr {
    border: solid 1px #f6f8f9;
    margin: 10px 0px;
}

h2 {
    color: #444850;
    margin: 30px 0px 10px 40px;
}

.task {
    margin-left: 40px;
    margin-bottom: 10px;
    color: #454a51;
}

span {
    border-radius: 50%;
    padding: 4px;
    margin-right: 10px;
}

.ok {    
    border: solid 1px #64c0a9;
    color: #64c0a9;
}

.ko {
    border: solid 1px #eb5952;
    color: #eb5952;
}

.Tag {
    font-size: 10px;
    border-radius: 10px;
    padding: 6px;
    color: #fff;
}

.Editorial {
    background-color: #46abea;
}

.Q1-Goals {
    background-color: #9c72e3;
}

.Recruiting {
    background-color: #64c0a9;
}

.Mobile {
    background-color: #f29e33;
}

.Website {
    background-color: #d863a1;
}

.Sales {
    background-color: #b0c926;
}