* {
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

/* header */
header {
    padding: 20px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

img {
    vertical-align: middle;
}

/* main content */
main {
    background-color: #f6f8f9;
    padding: 30px;
}

.container {
    width: 70%;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    padding: 10px;
    border-style: solid;
}

.button-1 {
    color: #fff;
    background-color: #47adf1;
    border-color: #47adf1;
}

.button-2 {
    color: #d1d6da;
    background-color: #fff;
    border-color: #d1d6da;
}